<button id="clap" class="emotion">
	<p>{{emotion}}</p>
	<span id={{emotion}}></span>
  <span id="clap--count" class="emotion--count"></span>
</button>
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/mo-js/0.288.1/mo.min.js'></script>
<script  src="/static/js/script.js"></script>
<style type="text/css">
.emotion {
  position: relative;
  outline: 1px solid transparent;
  border-radius: 50%;
  border: none;
  background: none;
}
.emotion .emotion--count {
  position: absolute;
  top: -15px;
  left: 5px;
  font-size: 1.5rem;
}
@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px #56baed;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 50px #145b32, inset 0 0 10px #56baed;
  }
}
</style> -->