<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/home.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>
</head>
<body>
	<div class="col-md-9 ht-100">
		<div class="wrapper fadeInDown">
		  <div id="videoSection">
		    <div class="fadeIn first">
		      <p class="pd-15 fadeIn second">Hi <b>{{username}}!</b> Welcome to BeSmile</p>
		    </div>

		    <div class="fadeIn third">
		    	<img id="bg" class="pd-15" src="{{ url_for('video_feed') }}">
		    </div>

		    <div class="fadeIn fourth" id="btn-section">
		    	<button class="app-btn fadeIn fifth report-btn">Reports</button>
		    </div>
		  </div>
		</div>
	</div>
	<div class="col-md-3 ht-100">
		<div class="wrapper fadeInDown">
			<div id="emotionSection">
		    <div class="fadeIn first">
		      <img src="/static/images/Neutral.png" class="count-img pd-15 fadeIn first">
		      <span>Neutral</span>
		      <span id="neutral"></span>
		    </div>

				<div class="fadeIn second">
		      <img src="/static/images/Happy.png" class="count-img pd-15 fadeIn second">
		      <span>Happy</span>
		      <span id="happy"></span>
		    </div>

		    <div class="fadeIn third">
		      <img src="/static/images/Sad.png" class="count-img pd-15 fadeIn third">
		      <span>Sad</span>
		      <span id="sad"></span>
		    </div>

		    <div class="fadeIn fourth">
		      <img src="/static/images/Angry.png" class="count-img pd-15 fadeIn fourth">
		      <span>Angry</span>
		      <span id="angry"></span>
		    </div>

		    <div class="fadeIn fifth">
		      <img src="/static/images/Fear.png" class="count-img pd-15 fadeIn fifth">
		      <span>Fear</span>
		      <span id="fear"></span>
		    </div>

		    <div class="fadeIn sixth">
		      <img src="/static/images/Surprise.png" class="count-img pd-15 fadeIn sixth">
		      <span>Surprise</span>
		      <span id="surprise"></span>
		    </div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div id="reportModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Daily Emotions Count</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="row" align="center">
		    		<div id="piechart_3d"></div>
		    	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>